[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1
collective.recipe.vscode = >=0.1.6

# Added by buildout at 2022-06-21 16:31:50.304636
createcoverage = 1.5

# Added by buildout at 2022-06-21 16:37:08.470958
collective.folderishtypes = 3.0.0

# Required by:
# kitconcept.volto==2.5.3
jq = 1.2.2

# Required by:
# ukstats.ccv2.theme==1.0a1
kitconcept.volto = 2.5.3
